.env
django_auth_service/.env
fastapi_service/.env
frontend/.env
django_auth_service/core/keys/*.pem
fastapi_service/keys/*.pem
__pycache__/
*.pyc
*.pyo
venv/
env/
*.egg-info/
.pytest_cache/
django_auth_service/logs/*.log
django_auth_service/db.sqlite3
fastapi_service/logs/*.log
fastapi_service/uploads/*
!fastapi_service/uploads/.gitkeep
fastapi_service/.rag_seeded
frontend/node_modules/
frontend/dist/
frontend/.vite/
.DS_Store
Thumbs.db
.vscode/
*.swp
